@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizbox-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.question{
    margin-bottom: 20px;
}

span#question{
    font-size: 24px;
}

.answer-label{
    padding-left: 10px;
}

.answers{
    display: flex;
    flex-direction: column;
}